<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Análisis Financiero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="cargando" class="ion-text-center ion-padding-top">
    <ion-spinner name="cils"></ion-spinner>
    <p>Analizando métricas...</p>
  </div>

  <ng-container *ngIf="!cargando">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Relación Gasto / Ingreso</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-margin-bottom">
          Has consumido el
          <strong>{{ (porcentajeGastos * 100) | number:'1.0-0' }}%</strong> de
          tus ingresos totales.
        </p>
        <ion-progress-bar
          [color]="porcentajeGastos > 0.8 ? 'danger' : (porcentajeGastos > 0.5 ? 'warning' : 'success')"
          [value]="porcentajeGastos"
        >
        </ion-progress-bar>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <h2>Fondos Totales Recibidos</h2>
          <p>Suma de todos tus ingresos</p>
        </ion-label>
        <ion-note slot="end" color="success" style="font-weight: bold">
          {{ totalIngresos | currency:'USD':'symbol':'1.0-2' }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Capital Saliente</h2>
          <p>Suma de todos tus gastos</p>
        </ion-label>
        <ion-note slot="end" color="danger" style="font-weight: bold">
          {{ totalGastos | currency:'USD':'symbol':'1.0-2' }}
        </ion-note>
      </ion-item>
    </ion-list>
  </ng-container>
  <div style="height: 50px; width: 100%"></div>
</ion-content>
