<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nombres" 
      labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Apellidos" 
      type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Email" 
      type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Teléfono" 
      type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Dirección" 
      type="text"></ion-input>
  </ion-item>



  

  <ion-button expand="block" 
    class="ion-margin-top">
    Enviar Datos
  </ion-button>
</ion-content>
