<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center ion-padding-vertical">
    <ion-avatar style="margin: 0 auto; width: 90px; height: 90px;">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar Nexura" />
    </ion-avatar>
    <h2 class="ion-margin-top" style="font-weight: 600;">Bienvenido a Nexura</h2>
  </div>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="inset">
        <ion-item>
          <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
          <ion-label>
            <p>Correo Electrónico</p>
            <h2>{{ emailUsuario || 'Cargando...' }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-top">
    <ion-button expand="block" color="danger" fill="clear" (click)="cerrarSesion()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión activa
    </ion-button>
  </div>
</ion-content>