
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import '@ionic/angular/css/palettes/dark.system.css';
// Estilo Global para todos los Headers
ion-toolbar {
  --background: rgba(2, 6, 23, 0.8); // Fondo oscuro con transparencia
  --border-style: none;
  backdrop-filter: blur(12px); // Efecto de cristal esmerilado
  -webkit-backdrop-filter: blur(12px);
  padding: 8px 10px;

  ion-title {
    font-family: 'Orbitron', sans-serif;
    color: #7dd3fc; // Azul neón
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}